.elements {
  display: flex;
  margin-bottom: 50px;
  margin-top: 20px;
  background-color: #ffffff;
  padding: 15px;
  border: 1px solid #000000;
}

.elementInput {
  width: 250px;
  margin-right: 10px;
}

.elementButton {
  width: 200px;
}

.block {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  width: auto;
  height: calc(100vh - 200px);
  border: 2px solid white;
}

.background {
  opacity: 0.8;
  width: 100vw;
  position: absolute;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ebebeb;
}

.transparent {
  width: 512px;
  height: 512px;
  background-color: transparent;
  border: 2px solid white;
}

.img {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
  border: 1px solid #ffffff;
  cursor: pointer;
  transition: all 300ms ease;
}

.img:hover {
  opacity: 0.7;
}

.images {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow: hidden;
}
